body {
  font-family: "Lucida Console", Courier, monospace;
  background: linear-gradient(to left, #FFFFFF, #d0ddff);
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  letter-spacing: -1.5 px;
  background-color: transparent;
  color: rgb(5, 7, 104);
}

.description {
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  box-shadow: 1.5px 1px;
  border-radius: 15px;
  border-top: 1px solid transparent;
}

.row {
  white-space: pre-wrap;
  height: 75px; 
  border-top: 1px solid transparent;  
}

.hour {
  background: linear-gradient(to left, #2c39f3, #b4b4ee);
  border-top-left-radius: 15%;
  border-bottom-left-radius: 15%;
  color: #ffffff;
  font-weight: 600;
  border-top: 1px solid #d0ddff;
}

.hour:hover {
  font-size: 19px;
  font-weight: 800;
  transition: all .3s ease-in-out;
}

.past {
  background: linear-gradient(to left, #aab1b6, #edeeee);
  color: black;
}

.present {
  background: linear-gradient(to left, #f35047, #ff837d);
  color: black;
  font-weight: bold;
}

.future {
  background: linear-gradient(to left, #77dd77, #adf0ad);
  color: black;
}

.saveBtn {
  border-left: 2px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: linear-gradient(to right, #1c03ff, #d0ddff);
  color: white;
}

.saveBtn i:hover {
  font-size: 35px;
  transition: all .2s linear;
}